<!-- Importando css -->
<link rel="stylesheet" href="./menu-top.css"/>

<div class="container-menu">

    <!-- Title -->
    <p class="title">Night up</p>

    <!-- Input search -->
    <div class="container-input">
        <input class="input-search" placeholder="Procure pelo nome..." />
        <img class="input-icon-right" src="../../../assets/images/search-icon.svg" />
    </div>

    <!-- Profiles -->
    <div class="container-profile">
        
        <!-- User -->
        <div class="container-user">
            <img src="../../../assets/images/avatar-user.svg" />
            <p class="user-name">Guilherme N.</p>
            <img src="../../../assets/images/arrow-down.svg" />
        </div>

        <!-- Bell -->
        <div class="container-bell">
            <img src="../../../assets/images/bell.svg" />
            <div class="bell-active"></div>
        </div>
    </div>
</div>